<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' lang=en data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Show</title>

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
</head>


<body>


    <header class="sticky-top">
        <nav class="navbar  bg-danger mb-5" data-bs-theme="dark">
            <div class="container text-center">
                <a class="navbar-brand " href="#">

                </a>
                <a class="navbar-brand " th:href="@{/index}">
                    <img th:src="@{/img/RaffoPizzaWhite.png}" alt="Logo" class="navbar-logo" width="160" height="80" />
                </a>

                <div class="flex-row" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 flex-row text-white fw-bold">



                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container mt-4">
            <div class="row align-items-center">
                <div class="col-8">
                    <h1 class="fw-bold mb-3">Dettaglio pizze</h1>

                    <p class="mt-4">
                    <span class="fw-bold fs-3 me-3" th:text="|${pizza.name}|"></span>
                    <span th:text="${pizza.price}"></span>
                    <span> €</span>
                    <div class="my-3">
                        <span> ( </span>
                        <span th:text="${pizza.description}"></span>
                        <span> ) </span>
                    </div>
                    <div>
                        <img class="px-0" th:src="${pizza.photo}" width="200" height="200" alt="Immagine dal Web" />
                    </div>
                    <div>
                        
                    </div>

                    </p>


                </div>


            </div>
        </div>
    </main>

    <footer>
    </footer>


    <!-- Bootstrap bundle -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz'
        crossorigin='anonymous'></script>

</body>

</html>